spring:
  application:
    name: Bot
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1111
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: none        # т.к. миграции делает Flyway
      show-sql: true

    flyway:
      enabled: true
      baseline-on-migrate: true
      locations: classpath:db/migration
telegram:
  bot:
    username: cLLyka_really_bot
    token: 8248269233:AAGoDeG0X0go0VWDevsOPHmIkawzQXlvHDg

